.impressum-text-heading1 {
  overflow-wrap: break-word;
  hyphens: auto;
  word-break: normal;
}
.fuzeile-container,
.fuzeile-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.fuzeile-wrapper,
.impressum-fragment7 {
  display: contents;
}
.impressum-text-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.impressum-text-ul {
  align-items: flex-start;
}
.impressum-text-heading1 {
  align-self: flex-start;
}
.fuzeile-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
.fuzeile-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-content {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.fuzeile-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.fuzeile-container,
.fuzeile-row {
  align-items: flex-start;
  display: flex;
}
.fuzeile-row {
  align-self: stretch;
  flex-shrink: 0;
  justify-content: space-between;
}
.fuzeile-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .fuzeile-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .fuzeile-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .fuzeile-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.impressum-text14 {
  display: inline-block;
}
