.preise-column1,
.preise-column2,
.preise-column3 {
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.ablauf-text4,
.ablauf-text5,
.preise-text10,
.preise-text11,
.preise-text12,
.preise-text29,
.slogan-text1,
.slogan-text2 {
  text-align: center;
}
@media (max-width: 767px) {
  .kopfzeile-start-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .kopfzeile-start-links {
    display: none;
  }
  .kopfzeile-start-buttons {
    padding-left: var(--dl-layout-space-unit);
  }
  .kopfzeile-start-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kopfzeile-start-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .slogan-content2 {
    width: 100%;
  }
}

.slogan-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.slogan-column,
.slogan-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
}
.slogan-column {
  width: auto;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
.slogan-content1 {
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.slogan-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}
.leistungen2-navlink,
.slogan-button {
  text-decoration: none;
}
.slogan-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.slogan-row-container {
  width: 100%;
}
.slogan-placeholder-image1,
.slogan-placeholder-image3,
.slogan-placeholder-image4,
.slogan-placeholder-image5,
.slogan-placeholder-image6,
.slogan-placeholder-image7,
.slogan-placeholder-image8,
.slogan-placeholder-image9 {
  width: 400px;
  height: 400px;
}
.slogan-placeholder-image2 {
  width: 400px;
  height: 400px;
  display: block;
}
/* Ziel: Das A-Tag soll den gesamten verfügbaren Platz seines Eltern-Flex-Containers einnehmen */
.leistungen1-image-container a,
.leistungen3-image-container a {
  display: block; /* Macht das A-Tag zu einem Block-Element */
  width: 100%; /* Lässt es die volle Breite des Eltern-Containers einnehmen */
  height: 100%; /* Lässt es die volle Höhe des Eltern-Containers einnehmen */
  /* Optional: Wenn Sie Probleme mit zusätzlichem Leerraum im A-Tag haben,
       können Sie Line-Height oder Text-Decoration entfernen */
  line-height: 0;
  text-decoration: none;
}
.leistungen1-container2,
.leistungen3-container2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Hier wird der Platz 50/50 aufgeteilt */
  grid-gap: var(--dl-layout-space-fiveunits); /* Abstand zwischen den Spalten */
  align-items: center; /* WICHTIG: Zentriert die Inhalte der Grid-Zellen vertikal */
}

.leistungen1-image-container,
.leistungen3-image-container {
  height: 100%; /* Nimmt die Höhe der Grid-Zelle ein */
  display: flex; /* Für die Zentrierung des Bildes innerhalb dieses Containers */
  align-items: center; /* Zentriert das Bild vertikal im Container */
  justify-content: center; /* Zentriert das Bild horizontal im Container */
  overflow: hidden; /* WICHTIG: Schneidet den Inhalt ab, der über den Container hinausragt (z.B. bei object-fit: cover) */
}

.leistungen1-image,
.leistungen1-image1,
.leistungen1-image2,
.leistungen1-image3,
.leistungen3-image1 {
  width: 100%; /* Füllt die Breite des Elterncontainers (image-container) aus */
  height: 100%; /* Füllt die Höhe des Elterncontainers (image-container) aus */
  object-fit: contain; /* Empfohlen für das Radar, um es vollständig zu sehen */
  display: block; /* Entfernt jeglichen zusätzlichen Leerraum unter dem Bild */

  /* Behalten Sie Ihre Animationen bei */
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.thq-img-ratio-16-9 {
  object-fit: contain; /* ODER cover, je nachdem, was Sie wollen */
}

/* Der Text-Container */
.leistungen1-tabs-menu,
.leistungen3-tabs-menu {
  gap: var(--dl-layout-space-twounits);
  width: 100%; /* Nimmt die volle Breite seiner Grid-Zelle ein */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  /* Oder ein anderer Breakpoint, der für Ihre Seite passt */
  .leistungen1-container2,
  .leistungen3-container2 {
    grid-template-columns: 1fr; /* Auf Mobilgeräten nur eine Spalte (Bild und Text untereinander) */
    grid-gap: var(--dl-layout-space-threeunits); /* Optional: kleinerer Abstand auf Mobilgeräten */
  }

  .leistungen1-image-container,
  .leistungen3-image-container {
    max-height: 250px; /* Beispielwert, anpassen */
    height: auto;
  }

  .leistungen1-image,
  .leistungen3-image1 {
    /* Auch auf Mobilgeräten soll das Bild sich dem Container anpassen */
    width: 100%;
    height: 100%; /* Wenn der Container eine max-height hat, füllt das Bild diese aus */
    object-fit: contain; /* Das Bild wird skaliert, um in den Container zu passen */
  }

  .leistungen1-tabs-menu,
  .leistungen3-tabs-menu {
    align-items: center; /* Zentriert den Text auf Mobilgeräten */
    text-align: center; /* Zentriert den Textinhalt selbst */
  }

  .thq-section-padding {
    padding: var(--dl-layout-space-threeunits) var(--dl-layout-space-oneandhalfunits);
  }
}
.leistungen1-tab-horizontal1,
.leistungen1-tab-horizontal2,
.leistungen1-tab-horizontal3,
.leistungen3-tab-horizontal1,
.leistungen3-tab-horizontal2,
.leistungen3-tab-horizontal3 {
  gap: var(--dl-layout-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.leistungen1-divider-container1,
.leistungen1-divider-container2,
.leistungen1-divider-container3,
.leistungen3-divider-container1,
.leistungen3-divider-container2,
.leistungen3-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.leistungen1-container3,
.leistungen1-container4,
.leistungen1-container5,
.leistungen3-container3,
.leistungen3-container4,
.leistungen3-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.leistungen1-content1,
.leistungen1-content2,
.leistungen1-content3,
.leistungen3-content1,
.leistungen3-content2,
.leistungen3-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.leistungen2-accent1-bg,
.leistungen2-accent2-bg {
  display: flex;
  align-items: center;
  border-radius: var(--dl-layout-radius-cardradius);
}
.leistungen2-accent2-bg {
  gap: var(--dl-layout-space-oneandhalfunits);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.leistungen2-accent1-bg,
.preise-column2 {
  background-color: var(--dl-color-theme-accent1);
}
.leistungen2-accent2-bg:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.leistungen2-accent1-bg {
  width: 100%;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-2deg) skew(0deg, 0deg);
  justify-content: space-between;
  transform-style: preserve-3d;
}
.leistungen2-container2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-fourunits);
  border-radius: var(--dl-layout-radius-cardradius);
  padding-right: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-sixunits);
}
.leistungen2-actions,
.leistungen2-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
}
.leistungen2-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.leistungen2-content {
  align-items: flex-start;
  flex-direction: column;
}
.leistungen2-actions {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.preise-pricing23 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.preise-max-width,
.preise-section-title {
  display: flex;
  align-items: center;
  width: 100%;
}
.preise-max-width {
  gap: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
.preise-section-title {
  gap: var(--dl-layout-space-unit);
  height: 98px;
  max-width: 800px;
  flex-shrink: 0;
  flex-direction: column;
}
.preise-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.preise-column1,
.preise-container1,
.preise-price1,
.preise-price3 {
  gap: var(--dl-layout-space-twounits);
  align-self: stretch;
  display: flex;
}
.preise-text11 {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .preise-text11 {
    line-height: 1.2;
  }
}
.preise-text12 {
  width: 100%;
  height: 25px;
  font-style: normal;
  font-weight: 300;
}
.preise-container1 {
  width: 100%;
  height: 591px;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.ablauf-button,
.preise-column4 {
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.preise-column1 {
  flex: 1;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
}
.preise-price1,
.preise-price3 {
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
}
.preise-price2,
.preise-price8 {
  gap: var(--dl-layout-space-halfunit);
  height: 453px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.preise-text13,
.preise-text18,
.preise-text23,
.preise-text28 {
  font-style: normal;
  font-weight: 600;
}
.preise-text14,
.preise-text19,
.preise-text24 {
  font-size: 48px;
}
.preise-text16,
.preise-text21,
.preise-text26,
.preise-text31 {
  width: 168px;
  height: 26px;
  font-size: 12px;
  max-width: var(--dl-layout-size-xlarge);
  min-width: var(--dl-layout-size-large);
  font-style: normal;
  max-height: var(--dl-layout-size-xxlarge);
  min-height: var(--dl-layout-size-xxlarge);
  font-family: Inter;
  font-weight: 100;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.preise-button1,
.preise-button2,
.preise-button3 {
  width: 100%;
  text-decoration: none;
}
.preise-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.preise-price4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.preise-column3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  height: 593px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #053047;
}
.fuzeile-credits,
.preise-price5,
.preise-price7 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.preise-price6 {
  gap: var(--dl-layout-space-halfunit);
  height: 452px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.preise-container2 {
  flex: 0 0 auto;
  width: auto;
  height: 26px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.preise-column4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  height: 595px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #fff;
  flex-direction: column;
  background-color: #008cba;
}
.preise-text29 {
  font-size: 24px;
  text-decoration: underline;
}
.preise-button4 {
  color: #fff;
  width: 100%;
  text-decoration: none;
  background-color: #000;
}
.preise-container3 {
  display: flex;
}
.preise-text33,
.preise-text38 {
  display: block;
  align-self: center;
  word-break: keep-all;
  font-style: normal;
  text-align: center;
}
.preise-text33 {
  width: 100%;
  font-weight: 300;
}
.preise-text38 {
  color: var(--dl-color-theme-primary1);
  font-weight: 800;
  order: 3;
}
.preiseroot-class-name,
.startseite-text155 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.preiseroot-class-name {
  overflow: hidden;
}
@media (max-width: 991px) {
  .kopfzeile-start-navbar-interactive {
    max-width: auto;
  }
  .leistungen1-container2,
  .leistungen3-container2 {
    grid-gap: var(--dl-layout-space-twounits);
    grid-template-columns: 1fr;
  }
  .leistungen3-tabs-menu {
    order: 2;
  }
  .preise-pricing23 {
    padding-bottom: 0;
  }
  .preise-section-title {
    height: 98px;
  }
  .preise-content {
    height: 50%;
  }
  .preise-text12 {
    height: auto;
  }
  .preise-container1 {
    height: 2391px;
    flex-direction: column;
  }
  .preise-price4 {
    height: 373px;
  }
  .preise-column3,
  .preise-column4 {
    width: 100%;
  }
  .ablauf-container4 {
    word-break: normal;
  }
}
@media (max-width: 767px) {
  .leistungen2-container2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .preise-pricing23 {
    padding-bottom: 0;
  }
  .preise-section-title {
    height: 90px;
    margin-bottom: 0;
  }
  .preise-text16,
  .preise-text21,
  .preise-text26,
  .preise-text31 {
    width: auto;
    height: auto;
  }
  .preise-price8 {
    height: auto;
  }
}
.ablauf-container5,
.ablauf-container6,
.ablauf-container7,
.ablauf-container8,
.ablauf-container9,
.faqfaq8 {
  padding-top: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-unit);
}
.ablauf-container1,
.ablauf-text11 {
  width: auto;
}
.ablauf-container2 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.ablauf-text10 {
  width: auto;
  height: auto;
}
.ablauf-text15,
.ablauf-text16 {
  text-decoration: underline;
}
.ablauf-button {
  text-decoration: none;
}
.ablauf-container4 {
  display: block;
}
.ablauf-container5 {
  overflow: auto;
  background-color: var(--dl-color-theme-accent1);
  margin-bottom: 10px;
}
.faqfaq8,
.fuzeile-footer7,
.fuzeile-logo {
  display: flex;
  overflow: hidden;
}
.ablauf-container6 {
  top: 10%;
  background-color: var(--dl-color-theme-accent2);
  margin-bottom: 10px;
}
.ablauf-container7,
.ablauf-container9 {
  background-color: var(--dl-color-theme-accent1);
  margin-bottom: 10px;
}
.ablauf-container8 {
  background-color: var(--dl-color-theme-accent2);
  margin-bottom: 10px;
}
.ablaufroot-class-name {
  align-self: flex-start;
}
.faqfaq8 {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq-section-title {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.faq-list {
  gap: 20px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  height: 100%;
}

.faq-item p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}

.fuzeile-container,
.fuzeile-logo {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}

@media (max-width: 991px) {
  .faq-container10 {
    flex-direction: column;
  }
}
.fuzeile-footer7 {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
.fuzeile-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-content {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-logo {
  gap: 24px;
  align-items: flex-start;
  flex-direction: column;
}
.fuzeile-container,
.fuzeile-row {
  align-items: flex-start;
  display: flex;
}
.fuzeile-row {
  align-self: stretch;
  flex-shrink: 0;
  justify-content: space-between;
}
.fuzeile-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 479px) {
  .kopfzeile-start-mobile-menu,
  .kopfzeile-start-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .slogan-actions {
    width: 100%;
    flex-direction: column;
  }
  .ablauf-button,
  .slogan-button {
    width: 100%;
  }
  .leistungen1-container2 {
    display: block;
  }
  .leistungen1-tabs-menu,
  .preise-text38 {
    width: auto;
  }
  .leistungen1-feature1-description {
    width: auto;
    overflow: auto;
  }
  .leistungen1-feature2-title {
    overflow: auto;
    word-break: break-all;
  }
  .leistungen1-content3 {
    overflow: auto;
  }
  .leistungen1root-class-name {
    overflow: visible;
  }
  .leistungen2-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .leistungen2-navlink {
    flex: 1;
  }
  .faq-max-width,
  .fuzeile-max-width,
  .preise-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .preise-section-title {
    height: 103px;
  }
  .preise-content {
    height: 56px;
    max-width: auto;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .preise-text12 {
    height: 100%;
  }
  .preise-column1 {
    height: 709px;
  }
  .preise-price2 {
    height: auto;
  }

  .faqfaq8 {
    align-items: center;
  }
}
.startseite-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.startseite-text115 {
  font-style: normal;
  font-weight: 300;
}

.startseite-link {
  left: 50;
  width: 50px;
  bottom: 50;
  height: 50px;
  position: fixed;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 767px) {
  .ablauf-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .ablauf-container4,
  .ablauf-container5,
  .ablauf-container6,
  .ablauf-container7,
  .ablauf-container8,
  .ablauf-container9 {
    width: 100%;
  }
  .fuzeile-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .startseite-link {
    width: 50px;
    height: 50px;
  }
}
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  color: #333;
  padding: 15px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.cookie-buttons button {
  margin: 0 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#cookie-accept,
#cookie-settings-save {
  background-color: #4caf50;
  color: #fff;
}
#cookie-decline {
  background-color: #f44336;
  color: #fff;
}
#cookie-settings-button {
  background-color: #008cba;
  color: #fff;
}
.cookie-settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  text-align: left;
  min-width: 300px;
}
.cookie-settings.hidden {
  display: none;
}
.cookie-settings h2 {
  margin-top: 0;
}

.cookie-settings li {
  margin-bottom: 10px;
}
.settings-buttons button {
  margin-right: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#cookie-settings-cancel {
  background-color: #ccc;
  color: #333;
}
.cookie-settings p a {
  color: #008cba;
  text-decoration: none;
}
