:root {
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-color-theme-accent1: #010331ff;
  --dl-color-theme-accent2: #053047;
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-theme-primary1: #008cbaff;
  --dl-color-theme-primary2: #086f96;
  --dl-layout-size-maxwidth: 1400px;
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-color-theme-secondary1: #033546ff;
  --dl-color-theme-secondary2: #515156ff;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #fbfaf9;
  --dl-layout-radius-cardradius: 8px;
  --dl-color-theme-neutral-light: #191818;
  --dl-layout-radius-imageradius: 8px;
  --dl-layout-radius-inputradius: 24px;
  --dl-layout-radius-buttonradius: 24px;
  --dl-layout-space-oneandhalfunits: 24px;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  font-family: Noto Sans;
  font-size: 12px;
}

body {
  margin: 0;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-theme-neutral-dark);
  background: var(--dl-color-theme-neutral-light);
  fill: var(--dl-color-theme-neutral-dark);
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  -webkit-font-smoothing: antialiased;
}

p,
li,
ul,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
}

.kopfzeile-rest-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}

.kopfzeile-rest-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}

.kopfzeile-rest-navlink {
  display: contents;
}

.kopfzeile-rest-image1 {
  height: 3rem;
  text-decoration: none;
}

.kopfzeile-rest-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.kopfzeile-rest-links {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}

.kopfzeile-rest-link1 {
  text-decoration: none;
}

.kopfzeile-rest-buttons {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.kopfzeile-rest-action1 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.kopfzeile-rest-burger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.kopfzeile-rest-burger-menu div {
  width: 30px;
  height: 3px;
  background-color: var(--dl-color-theme-neutral-dark); /* Passe die Farbe an */
  margin: 5px 0;
}

.kopfzeile-rest-mobile-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: var(--dl-color-theme-neutral-light); /* Passe die Farbe an */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Um sicherzustellen, dass es über anderen Inhalten liegt */
  padding: 15px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  align-items: flex-start;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.3s ease; /* Sanftes Einblenden */
}

.kopfzeile-rest-mobile-menu.open {
  display: flex;
  visibility: visible;
  opacity: 1;
}

/* Angepasste Stile für die Links im mobilen Menü */
.kopfzeile-rest-mobile-menu a {
  font-size: 1.2em; /* Schriftgröße anpassen, z.B. 1.2em oder 18px */
  margin-bottom: 15px; /* Abstand nach unten zwischen den Links */
  text-decoration: none; /* Unterstreichung entfernen, falls gewünscht */
  color: var(--dl-color-theme-neutral-dark); /* Farbe der Links anpassen */
  padding-top: 15px; /* Fügt Platz oberhalb des Textes hinzu, damit die Border nicht direkt am Text klebt */
  width: 100%; /* Stellt sicher, dass die Border über die gesamte Breite des Links geht */
  border-top: 1px solid #008cbaff; /* Hinzufügen der Border oben */
  /* Den Wert für --dl-color-theme-neutral-light kannst du anpassen, wenn du eine andere Farbe für die Linie möchtest */
}

/* Den ersten Link ohne obere Border, da er der oberste ist */
.kopfzeile-rest-mobile-menu a:first-child {
  border-top: none;
  padding-top: 0; /* Entfernt den oberen Padding für den ersten Link */
}

/* Letzten Link ohne unteren Margin, falls gewünscht */
.kopfzeile-rest-mobile-menu a:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .kopfzeile-rest-desktop-menu,
  .kopfzeile-rest-links {
    display: none;
  }
  .kopfzeile-rest-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .kopfzeile-rest-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .kopfzeile-rest-mobile-menu {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
}

@media (max-width: 479px) {
  .kopfzeile-rest-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .kopfzeile-rest-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.thq-button-filled {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}

.thq-button-filled:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}

.thq-button-outline {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  border: 1px solid;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}

.thq-button-outline:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}

.thq-heading-1 {
  font-size: 48px;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}

.thq-heading-2 {
  font-size: 35px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}

.thq-heading-3 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}

/* Standardstile für h4 (ähnlich dem ursprünglichen h3) */
.thq-heading-4 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .thq-heading-1 {
    font-size: 38px;
  }
  .thq-heading-2 {
    font-size: 30px;
  }
  .thq-heading-3 {
    font-size: 22px;
  }
  .thq-heading-4 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .thq-heading-1 {
    font-size: 29px;
    line-height: 1.3;
  }
  .thq-heading-2 {
    font-size: 24px;
    line-height: 1.3;
  }
  .thq-heading-3 {
    font-size: 18px;
    line-height: 1.3;
  }
  .thq-heading-4 {
    font-size: 15px;
    line-height: 1.3;
  }
}

.thq-body-large {
  font-size: 18px;
  font-family: Noto Sans;
  line-height: 1.5;
}

.thq-body-small {
  font-size: 16px;
  font-family: Noto Sans;
  line-height: 1.5;
}

.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}

.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-layout-size-maxwidth);
}

.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-layout-radius-imageradius);
}

.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-layout-radius-imageradius);
}

.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-layout-radius-imageradius);
}

.thq-flex-column {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.thq-flex-row {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}


.thq-grid-2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr;
}

.thq-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}

.thq-link:hover {
  background-position: 0 100%;
}

.thq-button-animated {
  outline: none;
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-width: 2px;
}

.thq-button-animated:before {
  top: 0;
  left: -20%;
  color: var(--dl-color-theme-neutral-light);
  width: 200%;
  height: 101%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: var(--dl-color-theme-neutral-dark);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.thq-button-animated:hover::before {
  color: var(--dl-color-theme-neutral-light);
  z-index: -1;
  transform: scaleX(1);
}

@media (max-width: 767px) {
  .thq-section-padding {
    padding: var(--dl-layout-space-threeunits);
  }
  .thq-flex-column {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-flex-row {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-grid-2 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr;
  }
}

@media (max-width: 479px) {
  .thq-section-padding {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-flex-column {
    gap: var(--dl-layout-space-unit);
  }
  .thq-flex-row {
    gap: var(--dl-layout-space-unit);
  }
  .thq-grid-2 {
    grid-gap: var(--dl-layout-space-unit);
  }
}
/* Styling für den Social Buttons Container */
.fuzeile-social-buttons {
  display: flex;
  gap: 15px; /* Abstand zwischen den Buttons */

  justify-content: center; /* Zentriert die Buttons */
  align-items: center;
  flex-wrap: wrap; /* Erlaubt das Umbrechen der Buttons auf kleinere Bildschirme */
}
.fuzeile-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px; /* Größe des klickbaren Bereichs/Hintergrunds */
  height: 44px; /* Größe des klickbaren Bereichs/Hintergrunds */
  border-radius: 50%; /* Macht den Hintergrund kreisförmig */
  background-color: transparent; /* Standardmäßig kein Hintergrund, die Farbe kommt vom PNG-Icon */
  text-decoration: none;
  transition: background-color 0.2s ease-in-out; /* Sanfter Übergang für Hover-Effekt */
}

.fuzeile-social-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Leichter Hintergrund beim Hover */
  /* transform: scale(1.1); /* Optional: Leichte Vergrößerung beim Hover */
}

.fuzeile-social-icon {
  width: 28px; /* Größe der PNG-Bilder, anpassen wenn Icons größer/kleiner sind */
  height: 28px; /* Größe der PNG-Bilder, anpassen */
  object-fit: contain; /* Stellt sicher, dass das Bild im Rahmen bleibt */
  /* filter: none; <--- Stellen Sie sicher, dass keine Farbfilter angewendet werden */
}

.fuzeile-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px; /* Größe des Buttons */
  height: 44px; /* Größe des Buttons */
  border-radius: 50%; /* Macht den Button kreisförmig */
  background-color: transparent; /* Standardmäßig kein Hintergrund */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Leichte Border zur Abgrenzung */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  padding: 0; /* Entfernt Standard-Button-Padding */
}

.fuzeile-share-button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Leichter Hintergrund beim Hover */
  /* transform: scale(1.1); /* Optional: Leichte Vergrößerung beim Hover */
}


/* Horizontaler Divider (Trennlinie) */
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: var(--dl-layout-space-unit);
}


/* Media Query für größere Bildschirme (z.B. Tablet und Desktop) */
@media (min-width: 768px) {
  .fuzeile-content {
    flex-direction: row; /* Logo und Social Buttons nebeneinander */
    justify-content: space-between; /* Links und Rechts ausrichten */
  }

  .fuzeile-social-buttons {
    margin-top: 0;
    margin-bottom: 0;
  }

  .fuzeile-row {
    flex-direction: row; /* Copyright und Links nebeneinander */
    justify-content: space-between;
  }

  .fuzeile-footer-links {
    flex-direction: row; /* Links nebeneinander */
    margin-top: 0;
  }
}

.fuzeile-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
  text-align: center;
}
.fuzeile-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-content {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fuzeile-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.fuzeile-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.fuzeile-container,
.fuzeile-row {
  align-items: flex-start;
  display: flex;
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.fuzeile-row {
  align-self: stretch;
  flex-shrink: 0;
  justify-content: space-between;
}
.fuzeile-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .fuzeile-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .fuzeile-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .fuzeile-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

td {
  padding: 12px;
  border: 1px solid #ddd;
  font-family: Noto Sans;
}
th {
  padding: 5px 4px;
}
thead {
  background-color: #008cbaff;
  text-align: center;
}

/*Webfonts

/* normal (latin-ext) */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/noto-sans-v39-latin-ext-regular.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* normal (latin) */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/noto-sans-v39-latin-regular.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* italic (latin-ext) */
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/noto-sans-v39-latin-ext-italic.woff2") format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F,
    U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* italic (latin) */
@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("fonts/noto-sans-v39-latin-italic.woff2") format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#author-content {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.author-collapsed {
  max-height: 0;
}

.author-expanded {
  max-height: 600px;
}


/* --- Autorenbox Zentrales Design --- */
.author-accordion-container {
  max-width: 1000px;
  margin: 50px auto;
  font-family: sans-serif;
  overflow: hidden;
}

.author-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.author-header:hover {
  background-color: #033546ff !important;
}

.author-header span {
  font-weight: bold;
  font-size: 16px;
}

#author-toggle-icon {
  display: inline-block;
  width: 24px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 24px;
}

.author-body {
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  border: 1px solid #515156ff;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.author-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.author-link {
  color: #008cbaff;
  text-decoration: none;
  font-weight: bold;
}

.author-link:hover {
  text-decoration: underline;
}

.blogbeitrag-text12,
.blogbeitrag-text13 {
  background-color: rgba(250, 246, 246, 0.459);
}
.ber-uns-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0;
  flex-direction: column;
  padding-bottom: 0;
}
.ber-uns-max-width {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ber-uns-column {
  align-items: flex-start;
  flex-shrink: 0;
}
.ber-uns-content1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.ber-uns-row1,
.ber-uns-row2 {
  align-items: flex-start;
}
.ber-uns-feature1,
.ber-uns-feature21,
.ber-uns-feature3 {
  flex: 1;
}
.ber-uns-feature1-image,
.ber-uns-feature2-image,
.ber-uns-feature3-image {
  height: 115px;
  max-height: var(--dl-layout-size-large);
}
.ber-uns-feature1-title,
.ber-uns-feature2-title1,
.ber-uns-feature3-title {
  height: 72px;
  min-height: var(--dl-layout-size-small);
}
.ber-uns-content2,
.ber-uns-content3,
.ber-uns-content4,
.ber-uns-content5 {
  align-self: stretch;
  align-items: flex-start;
}
.ber-uns-feature1-description,
.blogbeitrag-column {
  align-self: flex-start;
}
.ber-uns-feature1-title {
  width: 321px;
  max-height: var(--dl-layout-size-large);
}
.ber-uns-feature2-title1 {
  width: 323px;
  max-height: var(--dl-layout-size-medium);
}
.ber-uns-feature3-title {
  width: 322px;
}
.ber-uns-feature22 {
  flex: 1;
  width: 1039px;
}
.blogbeitrag-author {
  display: flex;
  flex-wrap: wrap; /* Ermöglicht Umbruch */
  align-items: flex-start; /* Elemente oben ausrichten */
  flex-direction: row; /* Standard für größere Bildschirme */
  gap: 1rem;
}

.blogbeitrag-text-content {
  flex: 2 1 300px; /* Ermöglicht dem Text zu wachsen und zu schrumpfen, Basis 300px */
  word-break: normal;
  overflow-wrap: break-word;
}

.blogbeitrag-image-link {
  flex: 1 1 auto; /* Bild-Link-Container, ermöglicht Wachstum/Schrumpfung */
  display: flex; /* Standardmäßig auf Desktop sichtbar */
  justify-content: flex-end; /* Bild nach rechts schieben */
  align-items: flex-start; /* Bild-Wrapper oben ausrichten */
  padding-left: 20px; /* Abstand zwischen Text und Bild */
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Titel und Bild zentrieren */
  width: 100%; /* Volle Breite des Flex-Elements einnehmen */
  max-width: 300px; /* Maximale Breite des Bild-Wrappers steuern */
}

.blogbeitrag-image1 {
  width: 100%; /* Bild nimmt volle Breite seines Containers ein */
  height: auto;
  object-fit: contain;
  border-radius: 8px; /* Optional: fügt leichte Abrundung hinzu */
}

.blogbeitrag-image-mobile-insert {
  display: none;
}

/* Media Query für mobile Geräte */
@media (max-width: 767px) {
  .blogbeitrag-author {
    flex-direction: column; /* Elemente auf kleineren Bildschirmen stapeln */
    align-items: center; /* Elemente beim Stapeln zentrieren */
  }

  /* Desktop-Bildcontainer auf Mobilgeräten ausblenden */
  .blogbeitrag-image-link {
    display: none;
  }

  .blogbeitrag-image-mobile-insert {
    display: block; /* Sichtbar machen */
    float: right; /* Nach rechts floaten, damit Text darumfließt */
    margin-left: 15px; /* Abstand zwischen Text und Bild */
    margin-bottom: 15px; /* Abstand unter dem Bild */
    max-width: 40%; /* Größe steuern (z.B. 40% der Elternelementbreite) */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blogbeitrag-image-mobile-insert .blogbeitrag-image-title {
    font-size: 1.2rem; /* Titelgröße für Mobilgerät anpassen */
    margin-bottom: 5px; /* Abstand anpassen */
  }

  .blogbeitrag-text-content {
    flex-basis: auto;
    text-align: left;
    padding: 0 10px;
  }
}
.blogbeitrag-content1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.blogbeitrag-section-title {
  flex: 1;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}
.blogbeitrag-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.blogbeitrag-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.blogbeitrag-max-width2 {
  width: 100%;
  height: auto;
  display: flex;
  gap: 80px;
  z-index: 100;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}
.blogbeitrag-column,
.blogbeitrag-content3 {
  gap: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  display: flex;
}
.blogbeitrag-column {
  width: 768px;
  flex-shrink: 0;
  flex-direction: row;
}
.blogbeitrag-content3 {
  align-self: stretch;
  flex-direction: column;
}
.blogbeitrag-text12 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.blogbeitrag-text13 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  font-style: normal;
  font-weight: 400;
}
.blogbeitrag-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.blogbeitrag-navlink {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.blogbeitrag-background-image {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
@media (max-width: 991px) {
  .ber-uns-layout251 {
    overflow: auto;
  }
  .ber-uns-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .ber-uns-feature22,
  .ber-uns-row1,
  .blogbeitrag-section-title {
    width: 100%;
  }
  .ber-uns-feature1-image,
  .ber-uns-feature2-image {
    height: 260px;
  }
  .ber-uns-feature3-image {
    height: 260px;
    overflow: auto;
  }
  .ber-uns-content5 {
    width: 893px;
  }
  .mehr-erfahren-text153,
  .mehr-erfahren-text154,
  .mehr-erfahren-text179 {
    color: var(--dl-color-theme-primary1);
  }
  .blogbeitrag-image1 {
    height: 75%;
    overflow: auto;
  }
  .blogbeitrag-content1 {
    flex-direction: column;
  }
  .blogbeitrag-column {
    width: auto;
  }
  .mehr-erfahren-text148,
  .mehr-erfahren-text149 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .mehr-erfahren-text153,
  .mehr-erfahren-text154,
  .mehr-erfahren-text177 {
    font-style: inherit;
    font-weight: 400;
  }
  .mehr-erfahren-text153 {
    text-decoration: underline;
  }
  .mehr-erfahren-text179 {
    font-style: normal;
    font-weight: 500;
  }
.vergleich-header26 {
  height: auto;
  padding-top: 18px;
}
.vergleich-content {
  width: auto;
  height: auto;
}
.vergleich-container1,
.vergleich-container2,
.vergleich-container3,
.vergleich-container4,
.vergleich-container5,
.vergleich-container6,
.vergleich-container7 {
  width: 100%;
  height: auto;
  place-items: center start;
  grid-template-columns: 1fr 1fr 1fr;
}
.vergleich-text11,
.vergleich-text12,
.vergleich-text13 {
  width: 100%;
  height: 100%;
}
.vergleich-text12 {
  text-align: center;
}
}
@media (max-width: 767px) {
  .ber-uns-column,
  .ber-uns-feature1-image,
  .ber-uns-feature2-image {
    width: 100%;
  }
  .ber-uns-text11 {
    text-align: center;
  }
  .ber-uns-row1,
  .ber-uns-row2,
  .blogbeitrag-content1 {
    flex-direction: column;
  }
  .ber-uns-content5,
  .ber-uns-feature21,
  .ber-uns-feature22,
  .ber-uns-feature3 {
    width: auto;
  }
  .blogbeitrag-image1 {
    height: 50%;
  }
  .vergleich-text11,
  .vergleich-text12,
  .vergleich-text13 {
    font-size: 18px;
    font-style: normal;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 0 0 1px;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  .vergleich-header26 {
    height: auto;
  }
  .vergleich-max-width {
    height: 100%;
  }
  .vergleich-content {
    height: auto;
    position: static;
    flex-direction: column;
  }
  .vergleich-container1,
  .vergleich-container2,
  .vergleich-container3,
  .vergleich-container4,
  .vergleich-container5,
  .vergleich-container6,
  .vergleich-container7 {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .vergleich-text11 {
    height: 100%;
    font-weight: 400;
    grid-column-end: 2;
    grid-column-start: 1;
  }
  .vergleich-text12 {
    font-weight: 500;
    grid-column-end: 2;
    grid-column-start: 2;
  }
  .vergleich-text13 {
    height: auto;
    font-weight: 300;
    grid-column-end: 3;
    grid-column-start: 3;
  }
  .vergleich-text14,
  .vergleich-text17,
  .vergleich-text20,
  .vergleich-text23,
  .vergleich-text26,
  .vergleich-text29 {
    grid-row-end: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 1;
  }
  .vergleich-text15 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
    grid-row-end: 2;
    padding-right: var(--dl-layout-space-halfunit);
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 2;
  }
  .vergleich-text16,
  .vergleich-text19,
  .vergleich-text22,
  .vergleich-text25,
  .vergleich-text28,
  .vergleich-text31 {
    grid-row-end: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-column-start: 3;
  }
  .vergleich-text18,
  .vergleich-text21,
  .vergleich-text24,
  .vergleich-text27,
  .vergleich-text30 {
    grid-row-end: 2;
    padding-right: var(--dl-layout-space-halfunit);
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 2;
  }
}
.vergleich-header26 h2,
.vergleich-wrapper {
  margin-bottom: 20px;
}
.frage-mglichkeiten-faq7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 0;
  justify-content: flex-start;
}
.frage-mglichkeiten-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frage-mglichkeiten-section-title {
  height: 127px;
}
.frage-mglichkeiten-text11,
.frage-mglichkeiten-text12 {
  text-align: center;
}
.frage-mglichkeiten-container1 {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .frage-mglichkeiten-container1 {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}
.frage-mglichkeiten-faq1-answer1 {
  width: 100%;
  display: block;
  aspect-ratio: auto;
  padding-right: var(--dl-layout-space-halfunit);
}
.frage-mglichkeiten-button {
  text-decoration: none;
}
.mehr-erfahren-text153,
.mehr-erfahren-text352,
.mehr-erfahren-text353 {
  text-decoration: underline;
}
.frage-mglichkeiten-container2 {
  display: flex;
  position: relative;
}
.paket-beispiel-container1 {
  width: 100%;
  padding-top: var(--dl-layout-space-threeunits);
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
.paket-beispiel-max-width {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 1137px;
  display: flex;
  align-items: center;
}
.paket-beispiel-container2 {
  max-width: 50%;
}
.paket-beispiel-container3 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
.paket-beispiel-container4,
.paket-beispiel-container6 {
  width: 100%;
  grid-template-columns: 1fr;
}
.paket-beispiel-container5,
.paket-beispiel-container7 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.paket-beispiel-text12 {
  font-size: 24px;
}
@media (max-width: 991px) {
  .frage-mglichkeiten-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .frage-mglichkeiten-content1 {
    height: auto;
  }
  .mehr-erfahren-text269,
  .mehr-erfahren-text270,
  .mehr-erfahren-text299,
  .mehr-erfahren-text300,
  .mehr-erfahren-text312,
  .mehr-erfahren-text313 {
    font-style: normal;
    font-weight: 400;
  }
  .mehr-erfahren-text285,
  .mehr-erfahren-text286 {
    font-weight: 400;
  }
  .paket-beispiel-max-width {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .paket-beispiel-container2 {
    width: 100%;
    max-width: 100%;
  }
  .paket-beispiel-image {
    width: 361px;
    height: 301px;
  }
  .paket-beispiel-container3 {
    align-self: flex-start;
    margin-left: 0;
  }
}
@media (max-width: 479px) {
  .blogbeitrag-content2 {
    align-items: center;
  }
  .vergleich-text11,
  .vergleich-text12,
  .vergleich-text13 {
    text-align: center;
    height: 100%;
  }
  .vergleich-header26 {
    width: auto;
    height: auto;
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .vergleich-max-width {
    height: 521px;
  }
  .vergleich-content {
    margin-bottom: 0;
  }
  .vergleich-container1,
  .vergleich-container2,
  .vergleich-container3,
  .vergleich-container4,
  .vergleich-container5,
  .vergleich-container6,
  .vergleich-container7 {
    height: 100%;
    max-height: 100%;
  }
  .vergleich-text12 {
    padding-right: var(--dl-layout-space-halfunit);
  }
  .vergleich-button {
    width: auto;
    padding-top: var(--dl-layout-space-halfunit);
  }
  .vergleichroot-class-name {
    flex: 0;
    height: auto;
    overflow: auto;
  }
  .paket-beispiel-max-width {
    width: auto;
  }
  .paket-beispiel-image {
    width: 188px;
    height: 200px;
  }
}
.mehr-erfahren-text,
[class*="mehr-erfahren-text"] {
  font-style: normal;
  font-weight: 100;
}
.mehr-erfahren-text148 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.mehr-erfahren-text153 {
  font-style: normal;
  font-weight: 100;
}
.mehr-erfahren-text179 {
  font-weight: 300;
}
.mehr-erfahren-text227,
.mehr-erfahren-text285 {
  font-weight: 400;
}
.mehr-erfahren-text243,
.mehr-erfahren-text259,
.mehr-erfahren-text260,
.mehr-erfahren-text269,
.mehr-erfahren-text299,
.mehr-erfahren-text312 {
  font-style: normal;
  font-weight: 400;
}
.mehr-erfahren-text321 {
  display: inline-block;
  font-size: 24px;
}
.mehr-erfahren-text326 {
  font-size: 9px;
  font-style: normal;
  font-family: "Comic Sans MS";
  font-weight: 100;
}
.vergleich-netzdiagramm {
  max-width: 70%;
  height: auto;
}
.vergleich-max-width {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vergleich-header26 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.vergleich-wrapper {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .vergleich-netzdiagramm {
    max-width: 100%;
  }
  .vergleich-max-width {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .vergleich-header26 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .vergleich-header26 h2 {
    margin-bottom: 10px;
  }
}
