.blogbeitrag-text12,
.blogbeitrag-text13 {
  background-color: rgba(250, 246, 246, 0.459);
}
.ber-uns-wrapper,
.blogbeitrag-wrapper,
.frage-mglichkeiten-wrapper,
.fuzeile-wrapper,
.mehr-erfahren-fragment10,
.mehr-erfahren-fragment11,
.mehr-erfahren-fragment12,
.mehr-erfahren-fragment13,
.mehr-erfahren-fragment14,
.mehr-erfahren-fragment15,
.mehr-erfahren-fragment16,
.mehr-erfahren-fragment17,
.mehr-erfahren-fragment18,
.mehr-erfahren-fragment19,
.mehr-erfahren-fragment20,
.mehr-erfahren-fragment21,
.mehr-erfahren-fragment22,
.mehr-erfahren-fragment23,
.mehr-erfahren-fragment24,
.mehr-erfahren-fragment25,
.mehr-erfahren-fragment26,
.mehr-erfahren-fragment27,
.mehr-erfahren-fragment28,
.mehr-erfahren-fragment29,
.mehr-erfahren-fragment30,
.mehr-erfahren-fragment31,
.mehr-erfahren-fragment32,
.mehr-erfahren-fragment33,
.mehr-erfahren-fragment34,
.mehr-erfahren-fragment35,
.mehr-erfahren-fragment36,
.mehr-erfahren-fragment37,
.mehr-erfahren-fragment38,
.mehr-erfahren-fragment39,
.mehr-erfahren-fragment40,
.mehr-erfahren-fragment41,
.mehr-erfahren-fragment42,
.mehr-erfahren-fragment43,
.mehr-erfahren-fragment44,
.mehr-erfahren-fragment45,
.mehr-erfahren-fragment46,
.mehr-erfahren-fragment47,
.mehr-erfahren-fragment48,
.mehr-erfahren-fragment49,
.mehr-erfahren-fragment50,
.mehr-erfahren-fragment51,
.mehr-erfahren-fragment52,
.mehr-erfahren-fragment53,
.mehr-erfahren-fragment54,
.mehr-erfahren-fragment55,
.mehr-erfahren-fragment56,
.mehr-erfahren-fragment57,
.mehr-erfahren-fragment58,
.mehr-erfahren-fragment59,
.mehr-erfahren-fragment60,
.mehr-erfahren-fragment61,
.mehr-erfahren-fragment62,
.mehr-erfahren-fragment63,
.mehr-erfahren-fragment64,
.mehr-erfahren-fragment65,
.mehr-erfahren-fragment66,
.paket-beispiel-wrapper {
  display: contents;
}
.ber-uns-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0;
  flex-direction: column;
  padding-bottom: 0;
}
.ber-uns-max-width {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ber-uns-column {
  align-items: flex-start;
  flex-shrink: 0;
}
.ber-uns-content1 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.ber-uns-row1,
.ber-uns-row2 {
  align-items: flex-start;
}
.ber-uns-feature1,
.ber-uns-feature21,
.ber-uns-feature3 {
  flex: 1;
}
.ber-uns-feature1-image,
.ber-uns-feature2-image,
.ber-uns-feature3-image {
  height: 115px;
  max-height: var(--dl-layout-size-large);
}
.ber-uns-feature1-title,
.ber-uns-feature2-title1,
.ber-uns-feature3-title {
  height: 72px;
  min-height: var(--dl-layout-size-small);
}
.ber-uns-content2,
.ber-uns-content3,
.ber-uns-content4,
.ber-uns-content5 {
  align-self: stretch;
  align-items: flex-start;
}
.ber-uns-feature1-description,
.blogbeitrag-column {
  align-self: flex-start;
}
.ber-uns-feature1-title {
  width: 321px;
  max-height: var(--dl-layout-size-large);
}
.ber-uns-feature2-title1 {
  width: 323px;
  max-height: var(--dl-layout-size-medium);
}
.ber-uns-feature3-title {
  width: 322px;
}
.ber-uns-feature22 {
  flex: 1;
  width: 1039px;
}
.blogbeitrag-blog-post-header3 {
  display: flex;
  position: relative;
  align-items: center;
}
.blogbeitrag-max-width1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogbeitrag-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: var(--dl-layout-space-unit);
}
.blogbeitrag-author {
  display: flex;
  flex-wrap: wrap; /* Ermöglicht Umbruch */
  align-items: flex-start; /* Elemente oben ausrichten */
  flex-direction: row; /* Standard für größere Bildschirme */
  gap: 1rem;
}

.blogbeitrag-text-content {
  flex: 2 1 300px; /* Ermöglicht dem Text zu wachsen und zu schrumpfen, Basis 300px */
  word-break: normal;
  overflow-wrap: break-word;
}

.blogbeitrag-image-link {
  flex: 1 1 auto; /* Bild-Link-Container, ermöglicht Wachstum/Schrumpfung */
  display: flex; /* Standardmäßig auf Desktop sichtbar */
  justify-content: flex-end; /* Bild nach rechts schieben */
  align-items: flex-start; /* Bild-Wrapper oben ausrichten */
  padding-left: 20px; /* Abstand zwischen Text und Bild */
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Titel und Bild zentrieren */
  width: 100%; /* Volle Breite des Flex-Elements einnehmen */
  max-width: 300px; /* Maximale Breite des Bild-Wrappers steuern */
}

.blogbeitrag-image1 {
  width: 100%; /* Bild nimmt volle Breite seines Containers ein */
  height: auto;
  object-fit: contain;
  border-radius: 8px; /* Optional: fügt leichte Abrundung hinzu */
}

.blogbeitrag-image-mobile-insert {
  display: none;
}

/* Media Query für mobile Geräte */
@media (max-width: 767px) {
  .blogbeitrag-author {
    flex-direction: column; /* Elemente auf kleineren Bildschirmen stapeln */
    align-items: center; /* Elemente beim Stapeln zentrieren */
  }

  /* Desktop-Bildcontainer auf Mobilgeräten ausblenden */
  .blogbeitrag-image-link {
    display: none;
  }

  .blogbeitrag-image-mobile-insert {
    display: block; /* Sichtbar machen */
    float: right; /* Nach rechts floaten, damit Text darumfließt */
    margin-left: 15px; /* Abstand zwischen Text und Bild */
    margin-bottom: 15px; /* Abstand unter dem Bild */
    max-width: 40%; /* Größe steuern (z.B. 40% der Elternelementbreite) */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blogbeitrag-image-mobile-insert .blogbeitrag-image-title {
    font-size: 1.2rem; /* Titelgröße für Mobilgerät anpassen */
    margin-bottom: 5px; /* Abstand anpassen */
  }

  .blogbeitrag-text-content {
    flex-basis: auto;
    text-align: left;
    padding: 0 10px;
  }
}
.blogbeitrag-content1 {
  width: 100%;
  height: 100%;
  display: flex;
}
.blogbeitrag-section-title {
  flex: 1;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
}
.blogbeitrag-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.blogbeitrag-container,
.blogbeitrag-max-width2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.blogbeitrag-text11 {
  font-style: normal;
  font-weight: 200;
}
.blogbeitrag-container {
  position: relative;
  flex-direction: column;
}
.blogbeitrag-max-width2 {
  gap: 80px;
  z-index: 100;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.blogbeitrag-column,
.blogbeitrag-content3 {
  gap: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  display: flex;
}
.blogbeitrag-column {
  width: 768px;
  flex-shrink: 0;
  flex-direction: row;
}
.blogbeitrag-content3 {
  align-self: stretch;
  flex-direction: column;
}
.blogbeitrag-text12 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
}
.blogbeitrag-text13 {
  fill: var(--dl-color-theme-accent1);
  color: var(--dl-color-theme-accent1);
  font-style: normal;
  font-weight: 400;
}
.blogbeitrag-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.blogbeitrag-navlink {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}
.blogbeitrag-background-image {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
@media (max-width: 991px) {
  .ber-uns-layout251 {
    overflow: auto;
  }
  .ber-uns-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .ber-uns-feature22,
  .ber-uns-row1,
  .blogbeitrag-section-title {
    width: 100%;
  }
  .ber-uns-feature1-image,
  .ber-uns-feature2-image {
    height: 260px;
  }
  .ber-uns-feature3-image {
    height: 260px;
    overflow: auto;
  }
  .ber-uns-content5 {
    width: 893px;
  }
  .mehr-erfahren-text153,
  .mehr-erfahren-text154,
  .mehr-erfahren-text179 {
    color: var(--dl-color-theme-primary1);
  }
  .blogbeitrag-image1 {
    height: 75%;
    overflow: auto;
  }
  .blogbeitrag-content1 {
    flex-direction: column;
  }
  .blogbeitrag-column {
    width: auto;
  }
  .mehr-erfahren-text148,
  .mehr-erfahren-text149 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .mehr-erfahren-text150,
  .mehr-erfahren-text151,
  .mehr-erfahren-text152,
  .mehr-erfahren-text155,
  .mehr-erfahren-text156,
  .mehr-erfahren-text157,
  .mehr-erfahren-text158,
  .mehr-erfahren-text159,
  .mehr-erfahren-text160,
  .mehr-erfahren-text161,
  .mehr-erfahren-text162,
  .mehr-erfahren-text163,
  .mehr-erfahren-text164,
  .mehr-erfahren-text165,
  .mehr-erfahren-text166,
  .mehr-erfahren-text167,
  .mehr-erfahren-text168,
  .mehr-erfahren-text169,
  .mehr-erfahren-text170,
  .mehr-erfahren-text171,
  .mehr-erfahren-text172,
  .mehr-erfahren-text173,
  .mehr-erfahren-text174,
  .mehr-erfahren-text175,
  .mehr-erfahren-text176,
  .mehr-erfahren-text178,
  .mehr-erfahren-text180 {
    font-style: normal;
    font-weight: 100;
  }
  .mehr-erfahren-text153,
  .mehr-erfahren-text154,
  .mehr-erfahren-text177 {
    font-style: inherit;
    font-weight: 400;
  }
  .mehr-erfahren-text153 {
    text-decoration: underline;
  }
  .mehr-erfahren-text179 {
    font-style: normal;
    font-weight: 500;
  }
  .vergleich-header26 {
    height: 588px;
    padding-top: 18px;
  }
  .vergleich-content {
    width: auto;
    height: auto;
  }
  .vergleich-container1 {
    width: 100%;
    height: auto;
    place-items: center start;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .vergleich-text11,
  .vergleich-text12,
  .vergleich-text13 {
    width: 100%;
    height: 100%;
  }
  .vergleich-text12 {
    text-align: center;
  }
  .vergleich-container2,
  .vergleich-container3,
  .vergleich-container4,
  .vergleich-container5,
  .vergleich-container6,
  .vergleich-container7 {
    height: auto;
  }
}
@media (max-width: 767px) {
  .ber-uns-column,
  .ber-uns-feature1-image,
  .ber-uns-feature2-image {
    width: 100%;
  }
  .ber-uns-text11 {
    text-align: center;
  }
  .ber-uns-row1,
  .ber-uns-row2,
  .blogbeitrag-content1 {
    flex-direction: column;
  }
  .ber-uns-content5,
  .ber-uns-feature21,
  .ber-uns-feature22,
  .ber-uns-feature3 {
    width: auto;
  }
  .blogbeitrag-image1 {
    height: 50%;
  }
  .vergleich-text11,
  .vergleich-text12,
  .vergleich-text13 {
    font-size: 18px;
    font-style: normal;
    border-color: var(--dl-color-theme-neutral-dark);
    border-width: 0 0 1px;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  .vergleich-header26 {
    height: auto;
  }
  .vergleich-max-width {
    height: 100%;
  }
  .vergleich-content {
    height: auto;
    position: static;
    flex-direction: column;
  }
  .vergleich-container1,
  .vergleich-container2,
  .vergleich-container3,
  .vergleich-container4,
  .vergleich-container5,
  .vergleich-container6,
  .vergleich-container7 {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .vergleich-text11 {
    height: 100%;
    font-weight: 400;
    grid-column-end: 2;
    grid-column-start: 1;
  }
  .vergleich-text12 {
    font-weight: 500;
    grid-column-end: 2;
    grid-column-start: 2;
  }
  .vergleich-text13 {
    height: auto;
    font-weight: 300;
    grid-column-end: 3;
    grid-column-start: 3;
  }
  .vergleich-text14,
  .vergleich-text17,
  .vergleich-text20,
  .vergleich-text23,
  .vergleich-text26,
  .vergleich-text29 {
    grid-row-end: 2;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 1;
  }
  .vergleich-text15 {
    fill: var(--dl-color-theme-neutral-dark);
    color: var(--dl-color-theme-neutral-dark);
    grid-row-end: 2;
    padding-right: var(--dl-layout-space-halfunit);
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 2;
  }
  .vergleich-text16,
  .vergleich-text19,
  .vergleich-text22,
  .vergleich-text25,
  .vergleich-text28,
  .vergleich-text31 {
    grid-row-end: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-column-start: 3;
  }
  .vergleich-text18,
  .vergleich-text21,
  .vergleich-text24,
  .vergleich-text27,
  .vergleich-text30 {
    grid-row-end: 2;
    padding-right: var(--dl-layout-space-halfunit);
    grid-row-start: 1;
    grid-column-end: 2;
    grid-column-start: 2;
  }
}
.frage-mglichkeiten-container2,
.fuzeile-container,
.fuzeile-logo,
.mehr-erfahren-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.vergleich-header26 h2,
.vergleich-wrapper {
  margin-bottom: 20px;
}
.frage-mglichkeiten-faq7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 0;
  justify-content: flex-start;
}
.frage-mglichkeiten-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frage-mglichkeiten-section-title {
  height: 127px;
}
.frage-mglichkeiten-text11,
.frage-mglichkeiten-text12 {
  text-align: center;
}
.frage-mglichkeiten-container1 {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .frage-mglichkeiten-container1 {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}
.frage-mglichkeiten-faq1-answer1 {
  width: 100%;
  display: block;
  aspect-ratio: auto;
  padding-right: var(--dl-layout-space-halfunit);
}
.frage-mglichkeiten-button {
  text-decoration: none;
}
.mehr-erfahren-text153,
.mehr-erfahren-text352,
.mehr-erfahren-text353 {
  text-decoration: underline;
}
.frage-mglichkeiten-container2 {
  display: flex;
  position: relative;
}
.paket-beispiel-container1 {
  width: 100%;
  padding-top: var(--dl-layout-space-threeunits);
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
}
.paket-beispiel-max-width {
  gap: var(--dl-layout-space-fourunits);
  flex: 0 0 auto;
  width: 1137px;
  display: flex;
  align-items: center;
}
.paket-beispiel-container2 {
  max-width: 50%;
}
.paket-beispiel-container3 {
  align-self: center;
  align-items: flex-start;
  margin-left: auto;
}
.paket-beispiel-container4,
.paket-beispiel-container6 {
  width: 100%;
  grid-template-columns: 1fr;
}
.paket-beispiel-container5,
.paket-beispiel-container7 {
  width: 100%;
  height: 100%;
  align-items: flex-start;
}
.paket-beispiel-text12 {
  font-size: 24px;
}
@media (max-width: 991px) {
  .frage-mglichkeiten-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .frage-mglichkeiten-content1 {
    height: auto;
  }
  .mehr-erfahren-text269,
  .mehr-erfahren-text270,
  .mehr-erfahren-text299,
  .mehr-erfahren-text300,
  .mehr-erfahren-text312,
  .mehr-erfahren-text313 {
    font-style: normal;
    font-weight: 400;
  }
  .mehr-erfahren-text285,
  .mehr-erfahren-text286 {
    font-weight: 400;
  }
  .paket-beispiel-max-width {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .paket-beispiel-container2 {
    width: 100%;
    max-width: 100%;
  }
  .paket-beispiel-image {
    width: 361px;
    height: 301px;
  }
  .paket-beispiel-container3 {
    align-self: flex-start;
    margin-left: 0;
  }
}
.fuzeile-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
.fuzeile-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-content {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fuzeile-logo {
  gap: 24px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.fuzeile-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.fuzeile-container,
.fuzeile-row {
  align-items: flex-start;
  display: flex;
}
.fuzeile-row {
  align-self: stretch;
  flex-shrink: 0;
  justify-content: space-between;
}
.fuzeile-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 479px) {
  .blogbeitrag-content2 {
    align-items: center;
  }
  .vergleich-text11,
  .vergleich-text12,
  .vergleich-text13 {
    text-align: center;
    height: 100%;
  }
  .vergleich-header26 {
    width: auto;
    height: auto;
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .vergleich-max-width {
    height: 521px;
  }
  .vergleich-content {
    margin-bottom: 0;
  }
  .vergleich-container1 {
    height: 100%;
    max-height: 100%;
  }
  .vergleich-text12 {
    padding-right: var(--dl-layout-space-halfunit);
  }
  .vergleich-button {
    width: auto;
    padding-top: var(--dl-layout-space-halfunit);
  }
  .vergleichroot-class-name {
    flex: 0;
    height: auto;
    overflow: auto;
  }
  .paket-beispiel-max-width {
    width: auto;
  }
  .paket-beispiel-image {
    width: 188px;
    height: 200px;
  }
  .fuzeile-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .fuzeile-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.mehr-erfahren-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mehr-erfahren-container2 {
  width: 100%;
  display: flex;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.mehr-erfahren-text100,
.mehr-erfahren-text101,
.mehr-erfahren-text102,
.mehr-erfahren-text103,
.mehr-erfahren-text104,
.mehr-erfahren-text105,
.mehr-erfahren-text106,
.mehr-erfahren-text109,
.mehr-erfahren-text110,
.mehr-erfahren-text111,
.mehr-erfahren-text115,
.mehr-erfahren-text116,
.mehr-erfahren-text120,
.mehr-erfahren-text133,
.mehr-erfahren-text134,
.mehr-erfahren-text135,
.mehr-erfahren-text136,
.mehr-erfahren-text147,
.mehr-erfahren-text182,
.mehr-erfahren-text187,
.mehr-erfahren-text188,
.mehr-erfahren-text189,
.mehr-erfahren-text190,
.mehr-erfahren-text191,
.mehr-erfahren-text192,
.mehr-erfahren-text193,
.mehr-erfahren-text194,
.mehr-erfahren-text195,
.mehr-erfahren-text198,
.mehr-erfahren-text201,
.mehr-erfahren-text204,
.mehr-erfahren-text207,
.mehr-erfahren-text210,
.mehr-erfahren-text211,
.mehr-erfahren-text212,
.mehr-erfahren-text213,
.mehr-erfahren-text214,
.mehr-erfahren-text215,
.mehr-erfahren-text216,
.mehr-erfahren-text217,
.mehr-erfahren-text218,
.mehr-erfahren-text221,
.mehr-erfahren-text222,
.mehr-erfahren-text223,
.mehr-erfahren-text224,
.mehr-erfahren-text225,
.mehr-erfahren-text226,
.mehr-erfahren-text268,
.mehr-erfahren-text320,
.mehr-erfahren-text322,
.mehr-erfahren-text323,
.mehr-erfahren-text328,
.mehr-erfahren-text342,
.mehr-erfahren-text374,
.mehr-erfahren-text375,
.mehr-erfahren-text376 {
  display: inline-block;
}
.mehr-erfahren-text137,
.mehr-erfahren-text138,
.mehr-erfahren-text139,
.mehr-erfahren-text140,
.mehr-erfahren-text141,
.mehr-erfahren-text142,
.mehr-erfahren-text143,
.mehr-erfahren-text145,
.mehr-erfahren-text150,
.mehr-erfahren-text156,
.mehr-erfahren-text158,
.mehr-erfahren-text161,
.mehr-erfahren-text162,
.mehr-erfahren-text164,
.mehr-erfahren-text167,
.mehr-erfahren-text169,
.mehr-erfahren-text172,
.mehr-erfahren-text174,
.mehr-erfahren-text177,
.mehr-erfahren-text178,
.mehr-erfahren-text180 {
  font-style: normal;
  font-weight: 100;
}
.mehr-erfahren-text148 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.mehr-erfahren-text153 {
  font-style: normal;
  font-weight: 100;
}
.mehr-erfahren-text179 {
  font-weight: 300;
}
.mehr-erfahren-text227,
.mehr-erfahren-text285 {
  font-weight: 400;
}
.mehr-erfahren-text243,
.mehr-erfahren-text259,
.mehr-erfahren-text260,
.mehr-erfahren-text269,
.mehr-erfahren-text299,
.mehr-erfahren-text312 {
  font-style: normal;
  font-weight: 400;
}
.mehr-erfahren-text321 {
  display: inline-block;
  font-size: 24px;
}
.mehr-erfahren-text326 {
  font-size: 9px;
  font-style: normal;
  font-family: "Comic Sans MS";
  font-weight: 100;
}
.mehr-erfahren-link {
  left: 50;
  width: 50px;
  bottom: 50;
  height: 50px;
  position: fixed;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 991px) {
  .mehr-erfahren-text153,
  .mehr-erfahren-text154,
  .mehr-erfahren-text179 {
    color: var(--dl-color-theme-primary1);
  }
  .mehr-erfahren-text148,
  .mehr-erfahren-text149 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
  .mehr-erfahren-text150,
  .mehr-erfahren-text151,
  .mehr-erfahren-text152,
  .mehr-erfahren-text155,
  .mehr-erfahren-text156,
  .mehr-erfahren-text157,
  .mehr-erfahren-text158,
  .mehr-erfahren-text159,
  .mehr-erfahren-text160,
  .mehr-erfahren-text161,
  .mehr-erfahren-text162,
  .mehr-erfahren-text163,
  .mehr-erfahren-text164,
  .mehr-erfahren-text165,
  .mehr-erfahren-text166,
  .mehr-erfahren-text167,
  .mehr-erfahren-text168,
  .mehr-erfahren-text169,
  .mehr-erfahren-text170,
  .mehr-erfahren-text171,
  .mehr-erfahren-text172,
  .mehr-erfahren-text173,
  .mehr-erfahren-text174,
  .mehr-erfahren-text175,
  .mehr-erfahren-text176,
  .mehr-erfahren-text178,
  .mehr-erfahren-text180 {
    font-style: normal;
    font-weight: 100;
  }
  .mehr-erfahren-text153,
  .mehr-erfahren-text154,
  .mehr-erfahren-text177 {
    font-style: inherit;
    font-weight: 400;
  }
  .mehr-erfahren-text153 {
    text-decoration: underline;
  }
  .mehr-erfahren-text179 {
    font-style: normal;
    font-weight: 500;
  }
  .mehr-erfahren-text269,
  .mehr-erfahren-text270,
  .mehr-erfahren-text299,
  .mehr-erfahren-text300,
  .mehr-erfahren-text312,
  .mehr-erfahren-text313 {
    font-style: normal;
    font-weight: 400;
  }
  .mehr-erfahren-text285,
  .mehr-erfahren-text286 {
    font-weight: 400;
  }
}
@media (max-width: 767px) {
  .fuzeile-row {
    gap: var(--dl-layout-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .mehr-erfahren-link {
    width: 50px;
    height: 50px;
  }
}
.vergleich-netzdiagramm {
  max-width: 70%;
  height: auto;
}
.vergleich-max-width {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.vergleich-header26 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.vergleich-wrapper {
  margin-top: 20px;
}
@media (max-width: 600px) {
  .vergleich-netzdiagramm {
    max-width: 100%;
  }
  .vergleich-max-width {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .vergleich-header26 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .vergleich-header26 h2 {
    margin-bottom: 10px;
  }
}
